* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(239, 239, 239);
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 60px;
  padding: 10px 0 10px 20px;
}

.trybewarts-login {
  display: flex;
}

#email , #password , #btn-login {
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 33%;
}

#btn-login {
  background: rgb(78, 44, 131);
  color: white;
}

#btn-login:hover {
  background: rgb(93, 68, 133);
  transition: 0.2s;
  cursor: pointer;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

#evaluation-form div {
  display: flex;
  flex-wrap: wrap;
}

.divsEvaluation-form > * {
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  margin: 0 3px 25px;
  flex: 1;
}

#input-email {
  flex: 0 1 calc(50% - 6px);
}

#input-email label {
  flex: 0 1 calc(10%);
}

#house {
  flex: 0 1 calc(40% - 16px);
}

#trybewarts-forms-logo {
  height: 500px;
}

section {
  display: flex;
  justify-content: space-between;
}

.section > * {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 20px 0;
}
