header {
  background-color:rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  align-self: center;
}

main {
  display: flex;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#input-name {
  flex-basis: 45%;
  order: 1;
}

#input-lastname {
  flex-basis: 45%;
  order: 3;
}

#input-email {
  flex-basis: 45%;
  order: 2;
}

#house {
  flex-basis: 45%;
  order: 4;
}

#trybewarts-forms-logo {
  height: 500px;
}

