@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(239, 239, 239);
}

header {
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 60px;
  padding: 10px 0 10px 20px;
}

.trybewarts-login {
  display: flex;
}

#email , #password , #btn-login {
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 33%;
}

#btn-login {
  background: rgb(78, 44, 131);
  color: white;
}

#btn-login:hover {
  background: rgb(93, 68, 133);
  transition: 0.2s;
  cursor: pointer;
}

#trybewarts-header-title {
  align-self: center;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

#evaluation-form > p {
  text-align: center;
  font-size: 20pt;
  font-weight: 600;
  margin-bottom: 30px;
}

#evaluation-form > div {
  display: flex;
  flex-wrap: wrap;
}

.divsEvaluation-form > * {
  padding: 15px 10px;
  border-radius: 5px;
  border: none;
  margin: 0 3px 15px;
  flex: 1;
}

#input-email {
  flex: 0 1 calc(50% - 6px);
}

#input-email label {
  flex: 0 1 calc(10%);
}

#house {
  flex: 0 1 calc(40% - 16px);
}

#trybewarts-forms-logo {
  height: 500px;
}

section {
  display: flex;
  justify-content: space-between;
}

#label-family {
  font-weight: 600;
}

#label-content {
  font-weight: 600;
}

.section > * {
  display: flex;
  flex-direction: column;
}

hr {
  margin: 10px 0;
}

.div01 {
  justify-content: space-between;
}

.div01 > * {
  margin-bottom: 10px;
}

.div02 * {
  margin-bottom: 10px;
}

.checks {
  display: flex;
  flex-wrap: wrap;
}

.checks > * {
  width: 30%;
}

#label-rate {
  font-weight: 600;
}

.radios {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.textarea {
  font-weight: 600;
  margin-bottom: 5px;
}

.checkFinal {
  align-items: center;
}

textarea {
  border-radius: 5px;
  border: 1px solid rgb(93, 68, 133);
}

#label-infos {
  font-weight: 600;
  margin: 10px 0;
}

#agreement {
  margin-left: 10px;
  align-self: center;
}
